<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE
  html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://template.sesse.net/" xml:lang="en">
  <head>
    <title>YouTube to mp3</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    var foo = 1;
    </script>
    <link rel="stylesheet" type="text/css" href="/media/style.css" />
  </head>
  <body>
  <div class="container">
  	<h1>YT - YouTube to MP3</h1>
    	<t:contents />
   </div>
  </body>
</html>
